head
    style(type="text/css").
        table {
            width: 100%;
            border-collapse: collapse;
        }

        td, th {
            border: 1px solid #ddd;
            padding: 8px;
        }

p Hi,
p Here is a summary of price changes for the GPUs
table
    tr
        th Name
        th Price
        th What Changed?
        th Status
    each val in changes
        tr
            td
                a(href=val.url)= val.name
            td(style={"background-color": val.priceIncreased? "#e6002880": "#00c80f80"})= val.priceText
            td= val.whatChanged
            td= val.status


//- p= `It is now ${isAvailable? "available": "unavailable"} and the latest price is ${lastPrice}`
//- p Check it out 
//-     a(href=url) here 